<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>DANCEHALL TOP 10</h1>
      <p>The following songs are dancehall's top 10 hit songs</p>
      <ul>
        <li>VybZ Kartel - Fever</li>
        <li>VybZ Kartel - Close Casket</li>
        <li>RDX - BANG</li>
        <li>Alkaline - SPOIL YOU</li>
        <li>Aidonia - GUAGE</li>
      </ul>
    </div>
  </body>
</html>
